* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media screen and (max-width: 480px){
	#body{

        height: auto;
    }
	#body{

        width: auto;
    }
    
}

body {
	background: #fafafa;
	color: #363639;
    font-family: 'Work Sans', sans-serif;
}



/* ? ----- PORTADA ----- */
.portada {
	width: 100%;
	background: #edd4d4;
   
   background-image: url(/45.jpg);
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.portada .logotipo {
	display: flex;
	font-weight: 300px;
	font-size: 150px;
	margin-bottom: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.portada .header .mensaje {
	font-size: 30px;
	font-weight: 600;
}



/* ? ----- MAIN ----- */
main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 60px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
}



/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	background: rgb(244, 218, 208);
	max-width: 100%;
	height: auto;
	margin: 0 20px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 80px;
	font-weight: 500;
}

.simply-word {
	font-weight: 300px;
	font-size: 30px;
}


/* ? ---------------------------- */



