
*{    
    padding: 0;
    margin: 0;
    
}

.body{
    
    height: 1000px;
    width: auto;
    background: #fa8072;
}




/* ? ----- PORTADA ----- */
.body.portada {
	
	background: #edd4d4;
    height: 750px;
   
	
	transition: .5s ease-out all;
}




.body.portada .logotipo {
	display: flex;
	font-weight: 300px;
	font-size: 80px;
	margin-bottom: 0px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    
    
}







#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.simply-section {
	background: rgb(249, 178, 153);
    
	max-width: auto;
	height: 90px;
	margin-top: 20px;
    margin: 5px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
selector::before{
    position: absolute;
    content: "â¤";
    color: red;
    left: 0;
    right: 0;
    bottom:0 ;
    top: 0;
    background:#edd4d4 ;
}

.simply-amount {
	display: block;
	font-size: 40px;
	font-weight: 100px;
}

html,
.body{
width:100%;
overflow-x:hidden;
}
.simply-word {
	font-weight: 300px;
	font-size: 20px; }

    @media screen and (min-width: 80px){
        body{
            height: auto;
        }
    body{
            width: 80px;
        } .portada .logotipo {
            display: flex;
            font-weight: 90px;
            font-size: 10px;
            margin-bottom: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 25px;
        }
        .container2{
            width: 80px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
        }
        .portada {
            width: 80px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
            margin-left: 25px;
        }
        .aside {
            width: 100%;
            height: 200px;
            background: sandybrown;
        }
        .footer{
            width: 100%;
            height: 200px;
            background: blue;
        }
    }
    @media screen and (min-width: 100px){
        body{
            height: auto;
        }
    body{
            width: 100px;
        } .portada .logotipo {
            display: flex;
            font-weight: 100px;
            font-size: 20px;
            margin-bottom: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 25px;
        }
        .container2{
            width: 100px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
        }
        .portada {
            width: 100px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
            margin-left: 25px;
        }
        .aside {
            width: 100%;
            height: 200px;
            background: sandybrown;
        }
        .footer{
            width: 100%;
            height: 200px;
            background: blue;
        }
    }
    @media screen and (min-width: 150px){
        body{
            height: auto;
        }
    body{
            width: 150px;
        } .portada .logotipo {
            display: flex;
            font-weight: 150px;
            font-size: 30px;
            margin-bottom: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 25px;
        }
        .container2{
            width: 150px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
        }
        .portada {
            width: 150px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
            margin-left: 25px;
        }
        .aside {
            width: 100%;
            height: 200px;
            background: sandybrown;
        }
        .footer{
            width: 100%;
            height: 200px;
            background: blue;
        }
    }
    @media screen and (min-width: 200px){
        body{
            height: auto;
        }
        body{
            width: 200px;
        } 
        .container2{
            width: 200px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
        }
        .portada .logotipo {
            display: flex;
            font-weight: 200px;
            font-size: 40px;
            margin-bottom: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 25px;
        }
        .portada {
            width: 200px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
            margin-left: 25px;
        }
        .aside {
            width: 100%;
            height: 200px;
            background: sandybrown;
        }
        .footer{
            width: 100%;
            height: 200px;
            background: blue;
        }

    }

    @media screen and (min-width: 300px){
        body{
            height: auto;
        }
    body{
            width: 300px;
        } .portada .logotipo {
            display: flex;
            font-weight: 300px;
            font-size: 50px;
            margin-bottom: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 25px;
        }
        .container2{
            width: 300px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
        }
        .portada {
            width: 300px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
            margin-left: 25px;
        }
        .aside {
            width: 100%;
            height: 200px;
            background: sandybrown;
        }
        .footer{
            width: 100%;
            height: 200px;
            background: blue;
        }
    }
    @media screen and (min-width: 400px){
        body{
            height: auto;
        }
        body{
            width: 400px;
        }.portada .logotipo {
            display: flex;
            font-weight: 350px;
            font-size: 60px;
            margin-bottom: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-left: 25px;
        }
        .container2{
            width: 200px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
        }
        .portada {
            width: 400px;
            display: flex;
            align-items: center;
        justify-content: center;
            flex-direction: column;
            margin-left: 25px;
        } 
        .aside {
            width: 100%;
            height: 200px;
            background: sandybrown;
        }
        .footer{
            width: 100%;
            height: 200px;
            background: blue;
        }
   
}
@media screen and (min-width: 480px){
    body{
        height: auto;
    }
    body{
        width:480px;
    }
    .container2{
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }.portada .logotipo {
        display: flex;
        font-weight: 380px;
        font-size: 80px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .portada {
        width: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }
    .aside {
        width: 100%;
        height: 200px;
        background: sandybrown;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}
@media screen and (min-width: 576px){
    body{
        height: auto;
    }
body{
        width: 576px;
    } .portada .logotipo {
        display: flex;
        font-weight: 300px;
        font-size: 60px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .container2{
        width: 376px;
        display: flex;
        align-items: center;
    justify-content: center;
        flex-direction: column;
    }
    .portada {
        width: 576px;
        display: flex;
        align-items: center;
    justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }
    .aside {
        width: 100%;
        height: 200px;
        background: sandybrown;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}
@media screen and (min-width: 600px){
    body{
        height: auto;
    }
body{
        width: 600px;
    } .portada .logotipo {
        display: flex;
        font-weight: 300px;
        font-size: 60px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .container2{
        width: 600px;
        display: flex;
        align-items: center;
    justify-content: center;
        flex-direction: column;
    }
    .portada {
        width: 600px;
        display: flex;
        align-items: center;
    justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    } 
    .aside {
        width: 100%;
        height: 200px;
        background: sandybrown;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}

@media screen and (min-width: 768px){
    body{
        height: auto;
    }
    body{
        width: 768px;
    } 
    .container2{
        width: 568px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }.portada .logotipo {
        display: flex;
        font-weight: 400px;
        font-size: 70px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .portada {
        width: 768px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }
    .aside {
        width: 100%;
        height: 200px;
        background: sandybrown;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}
@media screen and (min-width: 1200px){
    body{
        height: auto;
    }
body{
        width: 1000px;
    } .portada .logotipo {
        display: flex;
        font-weight: 450px;
        font-size: 80px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .container2{
        width: 1200px;
        display: flex;
        align-items: center;
    justify-content: center;
        flex-direction: column;
    }
    .portada {
        width: 1200px;
        display: flex;
        align-items: center;
    justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }
    .aside {
        width: 100%;
        height: 200px;
        background: sandybrown;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}

@media screen and (min-width: 1150px){
    body{
        height: auto;
    }
       body{
        width: 1150px;
    } 
    .container2{
        width: 1150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }.portada .logotipo {
        display: flex;
        font-weight: 300px;
        font-size: 80px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .portada {
        width: 1150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }
    .aside {
        width: 10%;
        height: 200px;
        background: sandybrown;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}
@media screen and (min-width: 1300px){
    body{
        height: auto;
    }
    body{
        width: 1300px;
    } 
    .container2{
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }.portada .logotipo {
        display: flex;
        font-weight: 300px;
        font-size: 80px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
    }
    .portada {
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px;

    }
    .aside {
        width: 400px;
        height: auto;
        background: sandybrown;
        
    }
    .footer{
        width: 100%;
        height: 200px;
        background: blue;
    }
}
@media screen and (min-width: 1500px){
    body{
        height: auto;
    }
    body{
        width: 1500px;
    } 
    .container2{
        width: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }.portada .logotipo {
        display: flex;
        font-weight: 300px;
        font-size: 80px;
        margin-bottom: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 25px;
        
    }
    .portada {
        width: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px;
    }
    .aside {
        width: 500px;
        height: auto;
        background: sandybrown;
        
    }
    .footer{
        width: 100%;
        height: auto;
        
    }
}



.logotipo{
    color: purple;
    
}


.script {
    max-width: 20px;
    
    
    max-height: 20px;
    
}
.body.container2{
    background-color: rgb(247, 223, 214);
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    height: 120px;
    align-items: center;
    justify-content:center;
   width: 270px;
  
   
    
}
.image {
    width: 500px;
    height: 300px;
  transform: translate(-40px);
}
.img2{
    transform: translate(1458px, -600px);
    border-radius: 40% ;
}
    
    .aside {
    
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        background: salmon;
       
   }

.footer {
    
    height: 300px;
    width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgb(242, 102, 228);
     background-color: salmon; 
     
}


    
    
    .uno{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-300px);
        margin: 10px;
        border-radius: 15px;
        background-color: rgb(244, 204, 204);
        height: 70px;
        width: 200px;
        color: violet;
        font-weight: 150px;
	font-size: 28px;
    cursor: pointer;
    }
    .dos{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-200px);
        margin: 10px;
        border-radius: 15px;
        background-color: rgb(244, 204, 204);
        height: 70px;
        width: 200px;
        color: violet;
        font-weight: 150px;
	font-size: 28px;
    cursor: pointer;
    }
    .tres{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100px);
        margin: 10px;
        border-radius: 15px;
        background-color: rgb(244, 204, 204);
        height: 70px;
        width: 200px;
        color: violet;
        font-weight: 150px;
	font-size: 28px;
    cursor: pointer;
    }
    .container {
        position: fixed;
        height: 200px;
         background: none; 
        width: 100px;
        transition: 0.3s ease;
        transform: translate(-20px,-85px);
        
        
      }
      
      ul li {
        list-style: none;
        color: #7a0bc0;
        font-size: 50px;
        font-family: sans-serif;
        cursor: pointer;
        padding-bottom: 5px;
        transform: translateY(-500px);
        transition: transform 0.6s ease;
        opacity: 1;
      }
      
      ul li:hover {
        color: #fa58b6;
      }
      
      input {
        display: none;
      }
      
      label {
        z-index: 99;
        position: fixed;
        top: 5px;
        left: 20px;
        cursor: pointer;
        transition: 0.3s ease;
        
      }
      
      label > div {
        height: 5px;
        width: 35px;
        background: black;
        margin: 5px;
        transition: transform 0.5s;
       
      }
      
      label:hover > div {
        background: #7a0bc0;
      }
      
      #toggle-nav:checked ~ .container {
        height: 1000px;
        width: 275px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f3a8a8;
        border-radius: 7%;
        z-index: 1;
      }
      
      #toggle-nav:checked ~ label {
        left: 210px;
      }
      
      #toggle-nav:checked ~ .container ul li {
        transform: translateY(0px);
        
        opacity: 1;
      }
      
      /* Aca viene lo bueno */
      #toggle-nav:checked ~ label > div:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 18px;
        
      }
      
      #toggle-nav:checked ~ label > div:nth-child(2) {
        opacity: 0;
      }
      
      #toggle-nav:checked ~ label > div:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -20px;
        
      }
  
   