
*{    
    padding: 0;
    margin: 0;
    
}

.body{
    
    height: 1000px;
    width: auto;
}




/* ? ----- PORTADA ----- */
.portada {
	
	background: #edd4d4;
    height: 750px;
    width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}




.portada .logotipo {
	display: flex;
	font-weight: 300px;
	font-size: 80px;
	margin-bottom: 0px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body::-webkit-scrollbar {
    
    width: 5px;
}
body::-webkit-scrollbar-thumb{
background-color: rgb(212, 52, 252);
}








#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.simply-section {
	background: rgb(244, 212, 200);
    
	max-width: auto;
	height: 150px;
	margin: 0 10px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 60px;
	font-weight: 100px;
}

.simply-word {
	font-weight: 300px;
	font-size: 30px; }
    @media screen and (min-width: 200px){
        body{
            height: auto;
        }
        body{
            width: 200px;
        } 
        .container2{
            width: 200px;
            display: flex;
            flex-direction: column;
        }
        .portada {
            width: 200px;
            display: flex;
            flex-direction: column;
        }

    }

    @media screen and (min-width: 300px){
        body{
            height: auto;
        }
    body{
            width: 300px;
        } 
        .container2{
            width: 300px;
            display: flex;
            flex-direction: column;
        }
        .portada {
            width: 300px;
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (min-width: 400px){
        body{
            height: auto;
        }
        body{
            width: 400px;
        }
        .container2{
            width: 400px;
            display: flex;
            flex-direction: column;
        }
        .portada {
            width: 400px;
            display: flex;
            flex-direction: column;
        } 
   
}
@media screen and (min-width: 480px){
    body{
        height: auto;
    }
    body{
        width:480px;
    }
    .container2{
        width: 480px;
        display: flex;
        flex-direction: column;
    }
    .portada {
        width: 480px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 780px){
    body{
        height: auto;
    }
    body{
        width: 780px;
    } 
    .container2{
        width: 780px;
        display: flex;
        flex-direction: column;
    }
    .portada {
        width: 780px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1150px){
    body{
        height: auto;
    }
       body{
        width: 1150px;
    } 
    .container2{
        width: 1150px;
        display: flex;
        flex-direction: column;
    }
    .portada {
        width: 1150px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1300px){
    body{
        height: auto;
    }
    body{
        width: 1300px;
    } 
    .container2{
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .portada {
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media screen and (min-width: 1500px){
    body{
        height: auto;
    }
    body{
        width: 1500px;
    } 
    .container2{
        width: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .portada {
        width: 1500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}



.logotipo{
    color: purple;
    
}


.script {
    max-width: 20px;
    
    
    max-height: 20px;
    
}
.container2{
    background-color: rgb(247, 223, 214);
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-self: flex-end;
    height: 200px;
    align-items: center;
    justify-content: right;
    margin-left: 10px;
    margin-right: 15px;
    width: auto;
   
    
}
.aside {
    background-color: blue;
     height: 300px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: red;
}
.footer {
    background-color: rgb(143, 235, 245);
    height: 300px;
    width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgb(242, 102, 228);
}

    
    
    .uno{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        border-radius: 15px;
        background-color: rgb(244, 204, 204);
        height: 50px;
        width: 100px;
        color: violet;
        font-weight: 150px;
	font-size: 18px;
    cursor: pointer;
    }
    .dos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        border-radius: 15px;
        background-color: rgb(244, 204, 204);
        height: 50px;
        width: 100px;
        color: violet;
        font-weight: 150px;
	font-size: 20px;
    cursor: pointer;
    }
    .tres{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        border-radius: 15px;
        background-color: rgb(244, 204, 204);
        height: 50px;
        width: 100px;
        color: violet;
        font-weight: 150px;
	font-size: 20px;
    cursor: pointer;
    }
   
  
   